<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee" version="5.0">

  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.example.RegisterServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>ValidationFilter</filter-name>
    <filter-class>com.example.ValidationFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>ValidationFilter</filter-name>
    <url-pattern>/register</url-pattern>
  </filter-mapping>

</web-app>
